---
import Layout from '../layouts/Layout.astro'
import AboveBody from '../components/AboveBody.astro'
import BelowBody from '../components/BelowBody.astro'

---
<Layout>
	<div class="w-full">
		<AboveBody />
		<div class="body_wrapper">
			<img src="/web/20160305055514im_/http://forum.tirkx.com/main/images/misc/navbit-home.png">
			<span>Tirkx Home</span>
		</div>
		<BelowBody />
	</div>
</Layout>

<style lang="scss">
	.body_wrapper {
		margin: 0 2em .5em 2em;
		border-radius: 0 0 .2em .2em;
		padding: 1em 2em;
    background: #f1f3f3 none;
    border-radius: 5px;
	}
</style>