---

---
<div class="below_body">
	<div id="footer_time" class="shade footer_time">All times are GMT +7. The time now is <span class="time">12:55 PM</span>.</div>
	<div id="footer_copyright" class="shade footer_copyright">
			<!-- Do not remove this copyright notice -->
			Powered by <a href="#" id="vbulletinlink">vBulletin®</a> Version 4.2.0 <br>Copyright © 2016 vBulletin Solutions, Inc. All rights reserved. 
			<!-- Do not remove this copyright notice -->	
		<br>
	</div>
</div>
<style>
	.below_body {
		font-size: 11px;
		text-align: center;
	}
</style>