---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
		
		<meta name="keywords" content="anime,อนิเมะ,ดูอนิเมะ,ไม่หาผลกำไร,tirkx">
		<meta name="description" content="Tirkx โหลด Anime ดู Anime Direct Anime Download">
			
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tirkx Home - Tirkx 7.0 - Direct Anime Download and Community</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

body {
	font-family: 'Tahoma', Geneva, Verdana, sans-serif;
	background-color: #e9e9e9;
	min-width: 970px;
	font-size: .95rem;
	color: #3e3e3e;
	line-height: 1.230;
}
</style>
	